.wd-background-slight-dark {
  background-color: #242121 !important;
  color: #cdbbbb !important;
}

.wd-background-black {
  background-color: black !important;
  color: #cdbbbb !important;
}

.wd-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  vertical-align: center;
}

.wd-image-size {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.wd-color-gray {
  color: gray;
}


.wd-post-with-image {
  min-height: 100px;
}

.wd-post-image {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  right: 16px;
}

body {
  background-color: black !important;
  margin-left: 16px;
  border-left: solid;
}

a > i {
  color: antiquewhite !important;
}

li > a {
  color: #cdbbbb !important;
}

button {
  background: white !important;
  color: black !important;
  border: none !important;
  font-weight: bold !important;
}

a.nav-link.active {
  background-color: black !important;
  border: none;
  border-bottom: solid !important;
}

.search-bar {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 30px;
  width: 100%;
  margin-right: 12px;
  background-color: rgba(27,27,27,0.85);
}

.search-bar::placeholder {
  color: rgb(110, 118, 125);
}

.wd-search-icon {
  position: absolute;
  margin-left: 5px;
  margin-top: 1px;
  padding-left: 2px;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  font-size: 15px;
  color: grey;
}

.wd-post {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.wd-post > div {
  margin-top: 4px;
}



